* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #3B7679;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
header img {
  width: auto;
  margin-right: auto;
}
header nav {
  margin-right: auto;
}
header nav ul {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 40px;
  list-style: none;
  margin-top: 10px;
  text-align: center;
  padding: 0;
}
header nav ul a {
  color: #c3dfe0;
  text-decoration: none;
  transition: all 0.2s ease;
}
header nav ul a:hover {
  color: white;
}
header div {
  text-transform: capitalize;
  background-color: #5D8679;
  color: #c3dfe0;
  margin: 10px;
  padding: 12px 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: all 0.5s ease;
}
header div:hover {
  color: white;
}

main {
  background-color: #090909;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
main .texto {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  padding-left: 150px;
  padding-bottom: 100px;
}
main .texto .tienda {
  font-family: "Poppins", sans-serif;
  font-weight: 10;
  max-width: 220px;
  background-color: #1C3032;
  color: #3B7679;
  margin-top: 30px;
  margin-bottom: 1px;
  padding: 5px 3px;
  border-radius: 50px;
}
main .texto h1 {
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 70px;
  font-size: 60px;
  color: #3B7679;
}
main .texto p {
  margin-top: 25px;
  max-width: 500px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #c3dfe0;
}
main .texto .Producto {
  background-color: #3B7679;
  color: whitesmoke;
  max-width: 220px;
  margin: 10px;
  padding: 20px 35px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
}
main .texto .Contactar {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  color: whitesmoke;
  max-width: 220px;
  margin: 10px;
  padding: 20px 35px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid #3B7679;
}
main .col {
  background-color: #1C3032;
  color: #3B7679;
  max-width: 700px;
  margin: 1px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.Second {
  background-color: #090909;
  padding-bottom: 1px;
}
.Second h2 {
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Second h2 .normal {
  color: #c3dfe0;
}
.Second h2 .color {
  color: #3B7679;
}
.Second p {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Second .col-2 {
  background-color: #1C3032;
  color: #3B7679;
  max-width: 700px;
  margin: 1px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 90px;
  margin-top: 40px;
}
.Second .col-2 p {
  text-align: center;
}
.Second .col-2 ul {
  text-align: left;
}
.Second .especifico {
  max-width: 500px;
  margin: 100px auto;
  padding: 0 20px;
  text-align: center;
  background-color: #5D8679;
  max-width: 700px;
  padding: 50px 150px;
  border-radius: 20px;
}
.Second .especifico span {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.Second .especifico p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.Second .especifico div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Second .especifico div a {
  color: inherit;
  text-decoration: none;
}
.Second .especifico .contactnow {
  margin-right: 25px;
  color: whitesmoke;
  max-width: 220px;
  margin: 10px;
  padding: 20px 35px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  background-color: #1C3032;
}

.imagen {
  width: 50%;
  margin-right: 100px;
}
.imagen img {
  width: 100%;
  height: auto;
  padding: 30px 20px 20px 20px;
}

.separador {
  background-color: #3B7679;
  height: 1px;
}

footer {
  background-color: #090909;
}
footer p {
  margin: 0;
  color: #c3dfe0;
  font-size: 20px;
  text-align: center;
}
footer p span {
  font-family: "Caveat", cursive;
}

.contact-styles {
  min-height: auto;
  padding: 60px 0;
}
.contact-styles .texto-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
  font-size: 18px;
}
.contact-styles .tienda {
  font-family: "Poppins", sans-serif;
  font-weight: 10;
  background-color: #1C3032;
  color: #3B7679;
  margin: 30px auto 0 auto;
  padding: 5px 5px;
  border-radius: 50px;
}
.contact-styles .our-team {
  font-size: 60px;
  padding-top: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.contact-styles .our-team .normal {
  color: #c3dfe0;
}
.contact-styles .our-team .color {
  color: #3B7679;
}

.info {
  background-color: #090909;
}
.info .col {
  border: 2px solid whitesmoke;
  background-color: #1C3032;
  color: #3B7679;
  max-width: 700px;
  margin: 1px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 90px;
  margin-top: 40px;
}
.info .col p {
  text-align: center;
}
.info .col .name {
  font-weight: 700;
  text-align: left;
}
.info .col .extra {
  text-align: center;
  font-size: 12px;
}

.info-formulario {
  background-color: #090909;
}
.info-formulario .h-info {
  color: #3B7679;
  padding-top: 60px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.info-formulario .formulario-texto {
  color: #c3dfe0;
  text-align: center;
  font-weight: 700;
}
.info-formulario .formulario-contenedor {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}
.info-formulario .form-label {
  font-weight: 700;
  color: #3B7679;
}
.info-formulario form {
  display: flex;
  flex-direction: column;
}
.info-formulario .btn-enviar {
  align-self: center;
  border: 2px solid whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  max-width: 220px;
  margin: 10px;
  padding: 20px 35px;
  border-radius: 15px;
}

.login-page {
  background-color: #090909;
  min-height: 100vh;
}
.login-page .login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px 60px 200px;
  gap: 40px;
}
.login-page .login-left {
  font-size: 20px;
  padding-left: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-page .login-left h1 {
  color: #3B7679;
  font-size: 100px;
  padding-top: 50px;
  padding-right: 70px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  gap: 15px;
}
.login-page .login-left p .normal {
  color: #c3dfe0;
}
.login-page .login-left p .color {
  color: #3B7679;
}
.login-page .login-right {
  width: 50%;
  background-color: #5D8679;
  border-radius: 20px;
  border: 2px solid whitesmoke;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-page .login-right h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #c3dfe0;
}
.login-page .login-right p {
  color: #c3dfe0;
}
.login-page .login-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-page .login-right .mb-3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-page .login-right .mb-3 .form-label {
  color: #c3dfe0;
  font-weight: 600;
}
.login-page .login-right .mb-3 input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  background-color: rgba(95, 95, 95, 0.39);
  color: #c3dfe0;
}
.login-page .login-right .btn-login {
  align-self: center;
  color: whitesmoke;
  max-width: 220px;
  margin: 10px;
  padding: 20px 35px;
  border-radius: 15px;
  background-color: #3B7679;
  color: #c3dfe0;
}

/*# sourceMappingURL=main.css.map */
