//reset
@use "base/reset";
@use "utilities/variables" as *;
@use "utilities/mixin.scss" as *;

//nesting
header{
    background-color:$color-nav;
    @include flex(space-between,center);
    padding: 0 70px;
    
    img{
        width:auto;
        margin-right: auto; 
    }

    nav{
        margin-right: auto;

        ul{ 
            font-family: 'Poppins', sans-serif;
            display: flex;
            gap:40px; 
            list-style: none;   
            margin-left: 60px;
            padding: 0;
            a{
                color:$color-tipografia;
                text-decoration: none;
                transition: all .2s ease;
            }
            a:hover{
                color:#ffff;
            }
        }
        
    
    }
    div{
        text-transform: capitalize;
        background-color:$color-inicio;
        color:$color-tipografia;
        margin: 10px;
        padding: 12px 20px;
        border-radius: 20px;
        @include tipografia(500);
        transition: all .5s ease;
    }

    div:hover{
        color:#ffff;

    }
}
//estilos main
main{
    background-color: $color-principal;
    @include flex(space-between,center);
    gap: 40px;
    padding: 20px;
    padding-bottom:100px;

    .texto{
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 15px   ;
        padding-left: 150px;
        padding-bottom: 100px;
        .tienda{
            @include tipografia(10);
            max-width: 220px;
            background-color:$color-tienda;
            color:$color-nav;
            margin: 1px;
            padding: 5px 3px;
            border-radius: 50px;
        }
        button{
            margin-top: 40px;
        }
        .Producto{
            background-color: $color-nav;
            @include boton;
            @include tipografia(650);
        }
        .Contactar{
            @include boton;
            @include tipografia(650);
            background-color: transparent;
        }
        }
        h1{
            margin-top: 70px;
            font-size: 40px;
            @include tipografia(700);
            color: $color-nav;
        }
        p{
            margin-top: 25px;
            max-width: 500px;
            @include tipografia(700);
            line-height: 1.5;
            color: $color-tipografia;
        }
        //cambia estilo boostrap
        .col{
            @include col();
            margin-right:90px;
            margin-top: 40px;
        }
    }
    //estilos div 
.Second{
    background-color:$color-principal;
    padding-bottom: 1px;
    
    h2{
        padding-top: 50px;
        @include tipografia(700);
        @include flex(center,center);
        gap:15px;
        .normal{
        color:$color-tipografia;
        }
        .color{
            color:$color-nav;
        }
    }
    p{
        margin-top:15px;
        @include tipografia(300px);
        @include flex(center,center);
    }
    //cambia estilo boostrap(otra vez)
        .col-2{ 
            @include col();
            margin-right:90px;
            margin-top: 40px;
            p{
                margin:10px;
            }
            nav{
                ul{
                    padding-left:10px;
                    li{
                        padding-right:70px;
                    }
                }
            }
        }
    .especifico{       
        text-align: center;
        margin-bottom:200px;
        margin-top:200px;
        margin-left:600px;
        @include search();
        span{
            font-size:25px;
            @include tipografia(700);
        }
        p{
            font-size:12px;
            @include tipografia(300);
        }
        .contactnow{
            margin-right:18px;
            @include boton;
            @include tipografia(650);
            background-color:$color-tienda;
        }
    }
}

    .imagen{
        width: 50%;
        margin-right: 100px;

        img{
            width: 100%;
            height: auto;
            padding: 30px 20px 20px 20px;
        }
    }

    .separador{
        background-color:$color-nav;
        padding:1px;
    }
//estilos footer
footer{
    background-color:$color-principal;
    p{
        //soluciono espacios en blancos footer
        margin:0;
        color:$color-tipografia;
        font-size:20px;
        text-align: center;
        span{
            font-family: 'Caveat', cursive;
        }
    }
}
