//reset
@use "base/reset";
@use "utilities/variables" as *;
@use "utilities/mixin.scss" as *;
@use "layout/mq-mobile";

//nesting
header{
    background-color:$color-nav;
    @include flex(space-between,center);
    padding: 0 70px;
    
    img{
        width:auto;
        margin-right: auto; 
    }

    nav{
        margin-right: auto;
        ul{ 
            font-family: 'Poppins', sans-serif;
            display: flex;
            gap:40px; 
            list-style: none;   
            margin-top:10px;
            text-align: center;
            padding: 0;
            a{
                color:$color-tipografia;
                text-decoration: none;
                transition: all .2s ease;
            }
            a:hover{
                color:#ffff;
            }
        }
        
    }
    div{
        text-transform: capitalize;
        background-color:$color-inicio;
        color:$color-tipografia;
        margin: 10px;
        padding: 12px 20px;
        border-radius: 20px;
        @include tipografia(500);
        transition: all .5s ease;
    }

    div:hover{
        color:#ffff;

    }
}
//estilos main index
main{
    background-color: $color-principal;
    @include flex(space-between,center);
    min-height:100vh;
    .texto{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap:20px   ;
        padding-left: 150px;
        padding-bottom: 100px;
        .tienda{
            @include tipografia(10);
            max-width: 220px;
            background-color:$color-tienda;
            color:$color-nav;
            margin-top: 30px;
            margin-bottom: 1px;
            padding: 5px 3px;
            border-radius: 50px;
        }
        h1{
            align-self: flex-start;
            @include tipografia(700);
            margin-top: 70px;
            font-size: 60px;
            color: $color-nav;
        }
        p{
            margin-top: 25px;
            max-width: 500px;
            @include tipografia(700);
            line-height: 1.5;
            color: $color-tipografia;
        }
        .Producto{
            background-color: $color-nav;
            @include boton;
            @include tipografia(650);
        }
        .Contactar{
            display: inline-block;
            text-decoration: none;
            color: inherit;
            @include boton;
            background-color: transparent;
            border: 2px solid $color-nav;

        }
    }
        //cambia estilo boostrap
            .col{
                @include col();
                margin-right:20px;
                margin-top: 40px;
            }
        }
    //estilos div 
.Second{
    background-color:$color-principal;
    padding-bottom: 1px;
    
    h2{
        padding-top: 50px;
        @include tipografia(700);
        @include flex(center,center);
        gap:15px;
        .normal{
        color:$color-tipografia;
        }
        .color{
            color:$color-nav;
        }
    }
    p{
        margin-top:15px;
        @include tipografia(300);
        @include flex(center,center);
    }
    //cambia estilo boostrap(otra vez)
    .col-2{ 
        @include col();
        margin-right:90px;
        margin-top: 40px;
            p{
                text-align: center;
            }
            ul{
                text-align: left; 
            }
        }
    .especifico{  
        max-width: 500px;
        margin:100px auto;
        padding: 0 20px;
        text-align: center;
        @include search();
        span{
            font-size:25px;
            @include tipografia(700);
        }
        p{
            font-size:12px;
            @include tipografia(300);
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: inherit;
                text-decoration: none;
            }
        }
        .contactnow{
            margin-right:25px;
            @include boton;
            @include tipografia(650);
            background-color:$color-tienda;
        }
    }
}

.imagen{
        width: 50%;
        margin-right: 100px;

        img{
            width: 100%;
            height: auto;
            padding: 30px 20px 20px 20px;
        }
    }

.separador{
    background-color:$color-nav;
    height:1px;
    }
//estilos footer
footer{
    background-color:$color-principal;
    p{
        //soluciono espacios en blancos footer
        margin:0;
        color:$color-tipografia;
        font-size:20px;
        text-align: center;
        span{
            font-family: 'Caveat', cursive;
        }
    }
}
//main de contactos style
.contact-styles{
    min-height: auto;
    padding: 60px 0;
        .texto-2{
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: 0 auto;
                text-align: center;
                gap:20px   ;
                font-size:18px;
        }
        .tienda{
            @include tipografia(10);
            background-color:$color-tienda;
            color:$color-nav;
            margin: 30px auto 0 auto;
            padding: 5px 5px;
            border-radius: 50px;
        }
        .our-team{
            font-size:60px;
            padding-top:2px;
            @include tipografia(700);
            @include flex(center,center);
            gap:15px;
            .normal{
            color:$color-tipografia;
            }
            .color{
                color:$color-nav;
        }
        }
}   

//estilos boostrap contacto
.info   {
    background-color:$color-principal;

    .col{
        border: 2px solid whitesmoke;
        @include col();
        margin-right:90px;
        margin-top: 40px;
        p{
            text-align: center;
        }
        .name{
            font-weight:700;
            text-align: left;
        }
        .extra{
            
            text-align: center;
            font-size:12px;
        }
    }
}
//estilos formulario
.info-formulario{
    background-color:$color-principal;

    .h-info{
        color: $color-nav;
        padding-top:60px;
        text-align: center;
        @include tipografia(700);
    }
    .formulario-texto{
        color:$color-tipografia;
        text-align: center;
        font-weight:700;
    }
    
    .formulario-contenedor{
            max-width: 500px;
            margin: 0 auto;
            padding: 0 20px;
    }
    .form-label{
            font-weight:700;
            color:$color-nav;
    }
        form {
            display: flex;
            flex-direction: column;
        }
        .btn-enviar{
            align-self: center;
            border: 2px solid whitesmoke;
            background-color:transparent;
            @include boton;
        }
}

    //iniciar sesion
    .login-page{
        background-color:$color-principal;
        min-height:100vh;
        .login-container{
            @include flex(space-between,center);
            padding:60px 60px 60px 200px;
            gap:40px;
        }
        .login-left{
            font-size:20px;
            padding-left:100px;
            width:50%;
            display: flex;
            flex-direction: column;
            gap:15px;
            h1 {
                color: $color-nav;
                font-size:100px;
                padding-top: 50px;
                padding-right:70px;
                @include tipografia(700);
                gap: 15px;
            }
            p {
                .normal{
                    color: $color-tipografia;
                }
                .color {
                    color: $color-nav;
                }
            }
        }
        .login-right{
            width:50%;
            background-color:$color-inicio;
            border-radius:20px;
            border: 2px solid whitesmoke;
            padding:40px;
            display: flex;
            flex-direction: column;
            gap:15px;
            
            h2{
                @include tipografia(600);
                color:$color-tipografia;
            }
            p{
                color:$color-tipografia;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            .mb-3{
                display: flex;
                flex-direction: column;
                gap:5px;
                
                .form-label{
                    color:$color-tipografia;
                    font-weight:600;
                }
            input{
                padding: 10px;
                border-radius:8px;
                border:1px solid whitesmoke;
                background-color:rgba(95, 95, 95, 0.39);
                color:$color-tipografia;
            }
            }
        .btn-login{
            align-self:center;
            @include boton;
            background-color:$color-nav;
            color:$color-tipografia;
        }
        }

    }