//reset
@use "base/reset";
@use "utilities/variables" as *;
@use "utilities/mixin.scss" as *;

//nesting
header{
    background-color:$color-nav;
    @include flex(space-between,center);
    padding: 0 70px;
    
    img{
        width:auto;
        margin-right: auto; 
    }

    nav{
        margin-right: auto;
        ul{ 
            font-family: 'Poppins', sans-serif;
            display: flex;
            gap:40px; 
            list-style: none;   
            margin-top:10px;
            text-align: center;
            padding: 0;
            a{
                color:$color-tipografia;
                text-decoration: none;
                transition: all .2s ease;
            }
            a:hover{
                color:#ffff;
            }
        }
        
    }
    div{
        text-transform: capitalize;
        background-color:$color-inicio;
        color:$color-tipografia;
        margin: 10px;
        padding: 12px 20px;
        border-radius: 20px;
        @include tipografia(500);
        transition: all .5s ease;
    }

    div:hover{
        color:#ffff;

    }
}
//estilos main index
main{
    background-color: $color-principal;
    @include flex(space-between,center);
    min-height:100vh;
    .texto{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap:20px   ;
        padding-left: 150px;
        padding-bottom: 100px;
        .tienda{
            @include tipografia(10);
            max-width: 220px;
            background-color:$color-tienda;
            color:$color-nav;
            margin-top: 30px;
            margin-bottom: 1px;
            padding: 5px 3px;
            border-radius: 50px;
        }
        h1{
            align-self: flex-start;
            @include tipografia(700);
            margin-top: 70px;
            font-size: 60px;
            color: $color-nav;
        }
        p{
            margin-top: 25px;
            max-width: 500px;
            @include tipografia(700);
            line-height: 1.5;
            color: $color-tipografia;
        }
        .Producto{
            background-color: $color-nav;
            @include boton;
            @include tipografia(650);
        }
        .Contactar{
            display: inline-block;
            text-decoration: none;
            color: inherit;
            @include boton;
            background-color: transparent;
            border: 2px solid $color-nav;

        }
    }
        //cambia estilo boostrap
            .col{
                @include col();
                margin-right:20px;
                margin-top: 40px;
            }
        }
    //estilos div 
.Second{
    background-color:$color-principal;
    padding-bottom: 1px;
    
    h2{
        padding-top: 50px;
        @include tipografia(700);
        @include flex(center,center);
        gap:15px;
        .normal{
        color:$color-tipografia;
        }
        .color{
            color:$color-nav;
        }
    }
    p{
        margin-top:15px;
        @include tipografia(300);
        @include flex(center,center);
    }
    //cambia estilo boostrap(otra vez)
    .col-2{ 
        @include col();
        margin-right:90px;
        margin-top: 40px;
            p{
                text-align: center;
            }
            ul{
                text-align: left; 
            }
        }
    .especifico{  
        max-width: 500px;
        margin:100px auto;
        padding: 0 20px;
        text-align: center;
        @include search();
        span{
            font-size:25px;
            @include tipografia(700);
        }
        p{
            font-size:12px;
            @include tipografia(300);
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: inherit;
                text-decoration: none;
            }
        }
        .contactnow{
            margin-right:25px;
            @include boton;
            @include tipografia(650);
            background-color:$color-tienda;
        }
    }
}

.imagen{
        width: 50%;
        margin-right: 100px;

        img{
            width: 100%;
            height: auto;
            padding: 30px 20px 20px 20px;
        }
    }

.separador{
    background-color:$color-nav;
    height:1px;
    }
//estilos footer
footer{
    background-color:$color-principal;
    p{
        //soluciono espacios en blancos footer
        margin:0;
        color:$color-tipografia;
        font-size:20px;
        text-align: center;
        span{
            font-family: 'Caveat', cursive;
        }
    }
}
//main de contactos style
.contact-styles{
    min-height: auto;
    padding: 60px 0;
        .texto-2{
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: 0 auto;
                text-align: center;
                gap:20px   ;
                font-size:18px;
        }
        .tienda{
            @include tipografia(10);
            background-color:$color-tienda;
            color:$color-nav;
            margin: 30px auto 0 auto;
            padding: 5px 5px;
            border-radius: 50px;
        }
        .our-team{
            font-size:60px;
            padding-top:2px;
            @include tipografia(700);
            @include flex(center,center);
            gap:15px;
            .normal{
            color:$color-tipografia;
            }
            .color{
                color:$color-nav;
        }
        }
}   

//estilos boostrap contacto
.info   {
    background-color:$color-principal;

    .col{
        border: 2px solid whitesmoke;
        @include col();
        margin-right:90px;
        margin-top: 40px;
        p{
            text-align: center;
        }
        .name{
            font-weight:700;
            text-align: left;
        }
        .extra{
            
            text-align: center;
            font-size:12px;
        }
    }
}
//estilos formulario
.info-formulario{
    background-color:$color-principal;

    .h-info{
        color: $color-nav;
        padding-top:60px;
        text-align: center;
        @include tipografia(700);
    }
    .formulario-texto{
        color:$color-tipografia;
        text-align: center;
        font-weight:700;
    }
    
    .formulario-contenedor{
            max-width: 500px;
            margin: 0 auto;
            padding: 0 20px;
    }
    .form-label{
            font-weight:700;
            color:$color-nav;
    }
        form {
            display: flex;
            flex-direction: column;
        }
        .btn-enviar{
            align-self: center;
            border: 2px solid whitesmoke;
            background-color:transparent;
            @include boton;
        }
}

    //iniciar sesion
    .login-page{
        background-color:$color-principal;
        min-height:100vh;
        .login-container{
            @include flex(space-between,center);
            padding:60px 60px 60px 200px;
            gap:40px;
        }
        .login-left{
            font-size:20px;
            padding-left:100px;
            width:50%;
            display: flex;
            flex-direction: column;
            gap:15px;
            h1 {
                color: $color-nav;
                font-size:100px;
                padding-top: 50px;
                padding-right:70px;
                @include tipografia(700);
                gap: 15px;
            }
            p {
                .normal{
                    color: $color-tipografia;
                }
                .color {
                    color: $color-nav;
                }
            }
        }
        .login-right{
            width:50%;
            background-color:$color-inicio;
            border-radius:20px;
            border: 2px solid whitesmoke;
            padding:40px;
            display: flex;
            flex-direction: column;
            gap:15px;
            
            h2{
                @include tipografia(600);
                color:$color-tipografia;
            }
            p{
                color:$color-tipografia;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            .mb-3{
                display: flex;
                flex-direction: column;
                gap:5px;
                
                .form-label{
                    color:$color-tipografia;
                    font-weight:600;
                }
            input{
                padding: 10px;
                border-radius:8px;
                border:1px solid whitesmoke;
                background-color:rgba(95, 95, 95, 0.39);
                color:$color-tipografia;
            }
            }
        .btn-login{
            align-self:center;
            @include boton;
            background-color:$color-nav;
            color:$color-tipografia;
        }
        }

    }

//mq mobile
@media (max-width: 768px) {

    header {
        padding: 0 10px;

        img {
            width:110px;
            margin-right: 10px;
        }

        nav {
            margin-right: auto;
            ul {
                gap: 20px;
                font-size: 13px;
            }
        }

        div {
            padding: 8px 12px;
            font-size: 12px;
        }
    }

    main {
        flex-direction: column;
        padding: 0;
        min-height: auto;

        .imagen {
            display: none;
        }

        .texto {
            width: 100%;
            padding: 0 40px;

            h1 {
                font-size: 48px;
                text-align: center;
                align-self: center;
            }

            p {
                max-width: 100%;
                text-align: center;
            }

            .Producto{
                width:80%;
                text-align: center;
                display: block;
                margin: 10px auto 0 auto;
            } 
            .Contactar {
                    width: 80%;
                    text-align: center;
                    display: block;
                    margin: 10px auto 0 auto;
                }
            .col {
                margin-right: 0;
            }
        }
    }

    .Second {
        h2 {
            font-size: 26px;
            flex-direction: column;
            gap: 5px;
        }
        .row{
            justify-content: center;
        }
        .col-2 {
            width: 45%;
            margin-right: 10px;
            margin-left:10px;
            margin-top: 20px;
        }

        .especifico {
            margin: 60px auto;
            max-width: 100%;
            padding:0 20px;
        }
    }

    footer {
        p {
            font-size: 16px;
        }
    }
    //contactos style
    .contact-styles {
        padding: 30px 0;

        .texto-2 {
            width: 90%;
            font-size: 14px;
        }

        .our-team {
            font-size: 36px;
            flex-direction: column;
            gap: 5px;
        }
    }
        .info{
            .row{
                flex-direction: column; 
                align-items: center;
            }
        
        .col{
            width: 90%;
            margin-right:0;
            margin-left:0;
            margin-top:15px;

            p{
                text-align:center;

            }
            .name{
                text-align: center;
            }
        }
        }
        .info-formulario{
            .h-info{
                font-size: 24px;
                padding-top:30px;
            }
            .formulario-contenedor{
                max-width: 100%;
                padding: 0 20px;

            }
            .formulario-texto{
                font-size:13px;
                padding: 0 20px;

            }
            .btn-enviar{
                width:80%;
            }
        }
    //iniciar sesion style
    .login-page{
        min-height:auto;
    
        .login-container{
            flex-direction: column;
            padding: 30px 20px;
            gap:20px;

        }
        .login-left{
            width:100%;
            padding-left:0;
            text-align: center;
            h1{
                font-size: 50px;
                padding-top:20px;
                padding-right:0px;
            }
            p{
                text-align: center;
            }
        }
        .login-right{
            width:100%;
            padding: 20px;

            .btn-login{
                width:80%;
            }
        }
    }
}