//reset
@use "base/reset";
@use "utilities/variables" as *;
@use "utilities/mixin.scss" as *;

//nesting
header{
    
    background-color:$color-nav;
    @include flex(center,center);
    padding: 0 20px;
    img{
        width:auto;
    }
    nav{
        ul{ 
            display: flex;
            gap: 20px; 
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}