//con parametros
@mixin flex($justify,$alling){
    display: flex;
    justify-content: $justify;
    align-items: $alling;
}
// con/sin parametros
@mixin tipografia($weight){
    font-family: 'Poppins', sans-serif;
    font-weight: $weight;
}

@mixin boton(){
    color:whitesmoke;
    max-width: 220px;
    margin: 10px;
    padding: 20px 35px;
    border-radius: 15px;
}

@mixin col(){
    background-color: #1C3032;
    color: #3B7679;
    max-width: 700px;
    margin: 1px;
    padding: 10px 20px;
    border-radius: 20px;
}

@mixin col-2(){
    background-color: #1C3032;
    color: #3B7679;
    max-width: 700px;
    margin: 1px;
    padding: 10px 40px;
    border-radius: 20px;
}

@mixin search(){
    background-color: #5D8679;
    max-width: 700px;
    padding:50px 150px;
    border-radius:20px;
}

